{
  "singleQuote": true,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "proseWrap": "preserve",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "tabWidth": 2,
  "plugins": ["prettier-plugin-tailwindcss"]
}
