@import "tailwindcss";

@theme {
  --color-black: #191414;
  --color-white: #ffffff;
  --color-primary: #1DB954;
}

@layer base {
  body {
    @apply bg-black text-white text-base;
  }
}

@layer components {
  .btn-primary {
    @apply rounded-full bg-primary py-2 px-12 bg-primary font-bold text-xl hover:scale-110 duration-200;
  }
}