name: Continuos Integration Workflow

on:
  pull_request:
    branches: [main]

jobs:
  lint_pull_request:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'npm'
      - run: npm ci
      - run: npm run pre-commit
      - run: npm run build
